In [1]:
import math
import re
import sys
import random
import numpy as np
import pandas as pd
import os
os.getcwd()

'C:\\Users\\abhis\\Desktop\\MFI'

In [2]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 'sample.csv',
 'sample_output_10.csv',
 'sample_output_14.csv',
 'sample_output_16.csv',
 'SPIndex',
 'Untitled.ipynb']

In [3]:
import pandas as pd

In [9]:
data = pd.read_csv("sample.csv")
data.insert(6, "Typical Price", 0)
data.insert(7, "Positive Money Flow", 0)
data.insert(8, "Negative Money Flow", 0)
data.insert(9, "Positive Money Flow Sum", 0)
data.insert(10, "Negative Flow Sum", 0)
data.insert(11, "Money Flow Index", 0)
data.head(30)

,Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Flow Sum,Money Flow Index
0,1,47.04,48.24,47.04,48.15,3509,0,0,0,0,0,0
1,2,48.17,48.89,47.97,48.36,4862,0,0,0,0,0,0
2,3,48.55,49.71,48.52,49.55,1810,0,0,0,0,0,0
3,4,49.55,49.87,48.51,49.41,3824,0,0,0,0,0,0
4,5,49.41,49.96,45.84,46.36,2209,0,0,0,0,0,0
5,6,46.35,46.51,44.61,45.60,4558,0,0,0,0,0,0
6,7,45.54,45.54,43.63,44.02,3832,0,0,0,0,0,0
7,8,44.05,44.49,43.19,43.57,3778,0,0,0,0,0,0
8,9,43.63,45.29,43.63,45.00,1005,0,0,0,0,0,0
9,10,44.96,44.96,42.88,43.44,4047,0,0,0,0,0,0
10,11,43.44,45.01,43.24,44.90,2201,0,0,0,0,0,0
11,12,44.90,45.53,44.76,45.18,2507,0,0,0,0,0,0
12,13,45.13,45.13,43.78,44.39,4392,0,0,0,0,0,0
13,14,44.09,44.24,42.70,42.95,3497,0,0,0,0,0,0
14,15,43.09,43.57,42.56,43.08,1181,0,0,0,0,0,0
15,16,42.94,43.90,42.25,42.52,1971,0,0,0,0,0,0
16,17,42.64,44.08,42.62,43.99,4994,0,0,0,0,0,0
17,18,43.99,45.32,43.90,45.23,2017,0,0,0,0,0,0
18,19,45.23,45.62,44.37,44.82,2823,0,0,0,0,0,0
19,20,44.83,45.73,44.03,45.63,2774,0,0,0,0,0,0

In [10]:
n = 14
for i in range(0,len(data)):
    data.loc[i,'Typical Price'] = (data.loc[i,'High']+data.loc[i,'Low']+data.loc[i,'Close'])/3.0
    #Money_Flow = Typical
    
    
    if i == 0:
        continue
    else:
        if data.loc[i,'Typical Price'] == data.loc[i-1, 'Typical Price']:
            data.drop([i])
            continue
        if(data.loc[i-1,'Typical Price'] < data.loc[i,'Typical Price']):
            data.loc[i,'Positive Money Flow'] = data.loc[i, 'Typical Price']*data.loc[i,'Volume']
        else:
            data.loc[i,'Negative Money Flow'] = data.loc[i, 'Typical Price']*data.loc[i,'Volume']
            
    if i < n:
        continue
    else:
        data.loc[i,'Positive Money Flow Sum'] = sum(data.loc[i+1-n:i+1, 'Positive Money Flow']) 
        data.loc[i,'Negative Flow Sum'] = sum(data.loc[i-n:i, 'Negative Money Flow'])
        mr = data.loc[i,'Positive Money Flow Sum']/data.loc[i,'Negative Flow Sum']
        data.loc[i,'Money Flow Index'] = (mr/(1+mr))*100
        
        
data.head(30)

,Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Flow Sum,Money Flow Index
0,1,47.04,48.24,47.04,48.15,3509,47.810000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
1,2,48.17,48.89,47.97,48.36,4862,48.406667,235353.213333,0.000000,0.000000,0.000000e+00,0.000000
2,3,48.55,49.71,48.52,49.55,1810,49.260000,89160.600000,0.000000,0.000000,0.000000e+00,0.000000
3,4,49.55,49.87,48.51,49.41,3824,49.263333,188382.986667,0.000000,0.000000,0.000000e+00,0.000000
4,5,49.41,49.96,45.84,46.36,2209,47.386667,0.000000,104677.146667,0.000000,0.000000e+00,0.000000
5,6,46.35,46.51,44.61,45.60,4558,45.573333,0.000000,207723.253333,0.000000,0.000000e+00,0.000000
6,7,45.54,45.54,43.63,44.02,3832,44.396667,0.000000,170128.026667,0.000000,0.000000e+00,0.000000
7,8,44.05,44.49,43.19,43.57,3778,43.750000,0.000000,165287.500000,0.000000,0.000000e+00,0.000000
8,9,43.63,45.29,43.63,45.00,1005,44.640000,44863.200000,0.000000,0.000000,0.000000e+00,0.000000
9,10,44.96,44.96,42.88,43.44,4047,43.760000,0.000000,177096.720000,0.000000,0.000000e+00,0.000000
10,11,43.44,45.01,43.24,44.90,2201,44.383333,97687.716667,0.000000,0.000000,0.000000e+00,0.000000
11,12,44.90,45.53,44.76,45.18,2507,45.156667,113207.763333,0.000000,0.000000,0.000000e+00,0.000000
12,13,45.13,45.13,43.78,44.39,4392,44.433333,0.000000,195151.200000,0.000000,0.000000e+00,0.000000
13,14,44.09,44.24,42.70,42.95,3497,43.296667,0.000000,151408.443333,0.000000,0.000000e+00,0.000000
14,15,43.09,43.57,42.56,43.08,1181,43.070000,0.000000,50865.670000,768655.480000,1.222338e+06,38.606630
15,16,42.94,43.90,42.25,42.52,1971,42.890000,0.000000,84536.190000,533302.266667,1.306874e+06,28.981040
16,17,42.64,44.08,42.62,43.99,4994,43.563333,217555.286667,0.000000,661696.953333,1.306874e+06,33.613058
17,18,43.99,45.32,43.90,45.23,2017,44.816667,90395.216667,0.000000,563709.183333,1.306874e+06,30.135476
18,19,45.23,45.62,44.37,44.82,2823,44.936667,126856.210000,0.000000,690565.393333,1.306874e+06,34.572530
19,20,44.83,45.73,44.03,45.63,2774,45.130000,125190.620000,0.000000,815756.013333,1.202197e+06,40.424926

In [ ]:
data.loc[,'Positive Money Flow Sum']